body{
    margin:0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.menu-nav{
    width: 40%;
}
.menu-nav-list{
    width: 100%;
    display: flex;
    padding: 0;
    cursor: pointer;
}
.menu-nav-list-item{
    list-style: none;
    width: 28%;
    margin: 3%;
    text-align: center;
    border-radius: 5px;
    background-color: orange;
    padding: 2px;
    transition: 0.7s all;
}
.menu-nav-list-item:hover{
    width: 25%;
    box-shadow: 3px 3px 3px black;
}
.menu-nav-list-item-link{
   text-decoration: none;
   color:white;
}

main{
    padding: 10px;
    background:linear-gradient(rgb(206, 113, 7),rgb(236, 130, 8));
    height: 500px;
}

.main-titulo{
    text-align: center;
}
.content-container{
    display: flex;
    justify-content: space-around;
}

footer{
    background: linear-gradient(rgb(236, 130, 8),rgb(250, 85, 25));
    height: 200px;
    display: flex;
    align-items: flex-end;
}
.copyright{
    text-align: center;
    color: white;
    font-size: 13px;
    margin:0;
    width: 100%;
    margin-bottom: 30px;
}

/*Páginas parquimetro e cadastro*/
.ticket, .relatorio{
    width: 50%;
    background-color: rgb(236, 130, 8);
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
}

.ticket-titulo, .relatorio-titulo{
    color:white;
}

.input{
    display: block;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 2px;
}

#botao-enviar, #botaoCadastro{
    width: 100%;
}

#botao-enviar:hover{
    cursor: pointer;
}
/*página home*/

.main-img{
    text-align: center;
}